<center>
  <img src="https://img.skitch.com/20111029-pyk77fucy4tua5fajcbqnuiydi.png" alt="Mickey-Mouse-Dude.jpeg @ 100% (RGB/8#)" />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <marquee><h1>THE DUDE MOUSE COMETH</h1></marquee>
</center>
